*{
margin: 0;
padding: 0;
BOX-sizing: border-BOX;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    background-color: black;
    background: url(img/br.jpg);
    background-position:center;
    background-size: cover;
}

.header_index #lv1{
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    
    color: #209090;
}
.header_index #lv2{
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    
    color: #209090;
}
#header hr{
    position: relative;
    top: 20px;
    width: 100%;
    height: 1px;
    
    background: #209090;
}














.logo{
    transform: rotate(4deg);
    animation: mlem 0.5s forwards;
  }
  
@keyframes mlem {
    from {
        transform: rotate(4deg);
    }
    to {
        transform: rotate(104deg);
    }
}

#BOX{
    margin-top: 120px;
}


#BOX1{
    margin-top: 200px;
    text-align: right;
}
#BOX1 button{
    position: relative;
    border: none;
    background-color: transparent;

    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #209090;
}



#BOX2{
    text-align: center;
}

@media (max-width:1230px){
    #BOX2{    
        opacity: 0;
        width: 0px;
        height: 0px;
    }

}
@media (max-width:580px){
    #BOX1{    
        text-align: center;
        margin-top: 0;
    }
}
@media (max-width:580px){
    #BOX #BOX3{
        margin-top: 20px;
        text-align: center;
    }
}

#BOX3{
    margin-top: 200px;
    text-align: left;
}
#BOX3 button{
    border: none;
    background-color: transparent;

    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #209090;
}









button {
    position: relative;
    padding: 10px 0;
    border: none;
    background-color: transparent;


    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #209090;
}
      

#BOX1 button::after {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 0px;
    left: 0;
    background: #209090;
    border-radius: 3px;
    transition: width 0.5s ease-in-out;
}
#BOX1 button::after {
    bottom: 0;
}
#BOX1 button:hover::after {
    width: 100%;
}

#BOX3 button::after {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 0px;
    left: 0;
    background: #209090;
    border-radius: 3px;
    transition: width 0.5s  ease-in-out;
}
#BOX3 button::after {
    bottom: 0;
}
#BOX3 button:hover::after {
    width: 100%;
}

