*{
    margin: 0;
    padding: 0;
    BOX-sizing: border-BOX;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height:  4871px;
    width: 100%;
    background:url(imgBaoGia/bg2\ .png) no-repeat;
    background-position:center;
    background-size: cover;
}
.menu{
    position:fixed;
    width: 100%;
    height: 50px;


    z-index: 99;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

#back{
    position:absolute;
    width: 140px;
    height: 18px;
    left: 10%;
    top: 18px;
    
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #209090;
}
#back{
    position:absolute;
    width: 140px;
    height: 18px;
    left: 10%;
    top: 18px;
    
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #209090;
}
#back:hover{
    text-decoration: none;
}
.logo2{
    position:relative;
    width: 0px;
    height: 0px;
    left: 99%;
    top: 15px;
    transform: rotate(104deg);
}
@media (max-width:992px){
    .back{
        left: 10%;
    }
}




/* Section one */
#S1{
    padding-top: 150px;
    text-align:center;
    border: black solid;
}
#aaa{
    border: black solid;
}
/* Section one end */



/* Section two */
#S2{
    margin-top: 50px;
    height:  600px;
    width: 100%;
    background:url(imgBaoGia/MaskGroup.png) no-repeat;
    background-position:center;
    background-size: cover;
}
#thinking{
    padding-top: 20%;
}
/* Section two end */



/* Section three */
#S3 .d1{
    margin-top: 50px;
    text-align: center;
}
#S3 .d2{
    margin-top: 50px;
    height:  468.36px;
    width: 805.5px;
    background:url(imgBaoGia/S3Group.png) no-repeat;
    margin-left: auto;
    margin-right: auto;
}
#S3 .d2 ul{
    margin-top: 50px;
    height:  468.36px;
    width: 805.5px;
    padding-left: 20%;
}
/* Section three end */



/* Section four  */
#S4{
    margin-top: 50px;
}
/* Section four end */


















footer{
    width: 100%;
    height: 300px;
    background: #209090;
}
.f5{
    width: 100%;
    height: 300px;
    
}
.f5d1{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.f5d2{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    
    color: #FFFFFF;
    
}
.f5c2{

    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    
    color: #FFFFFF;
    
}
.f5c1{
    padding-top: 10px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    
    color: #FFFFFF;
    
}
.zalo{
    display: flex;
    
    width: 30%;
}
.zalo_con{
    
    font-size: 15px;
    line-height: 18px;
    
    color: #FFFFFF;
}
.zalo_img{
    padding-right: 15px;
    
}

@media (max-width:992px){
    footer{
        height: 400px;
    }
    .f5d1{
        padding-top: 0;
        display: block;
    }
    .f5c1{
        text-align: center;
    }
    .f5c2{
        text-align: center;
    }
    .imgFooter{
        text-align: center;
    }
    .Zalo{
        width: 100%;
        margin: auto;
        padding:10px;
    }

    .f5d2{
        padding-top: 0;
    }
}

