*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
body{
    background-position:center;
    background-size: cover;
}





.header{
    position:relative;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;

    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.back{
    position:absolute;
    width: 116px;
    height: 18px;
    left: 136px;
    top: 18px;
    
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #209090;

}

.logo{
    position:relative;
    width: 0px;
    height: 0px;
    left: 99%;
    top: 15px;
    transform: rotate(104deg);
    }
    
    @media (max-width:992px){
        .back{
            left: 10%;
        }
    }















.section1{
    position: relative;
    background:url(img_section/imgS1/bg2.png) no-repeat;
    height: 946px;
    background-size:cover ;
    background-position: center;
}

.c1{
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    color: #209090;

    padding-left: 25%;
}
.c2{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    text-align: justify;
    color: #000000;
    padding-left: 25%;
}


@media (max-width:992px){

    .c2{
        font-size:0px;
    }
    .c1{
        margin-top: 80px;
        font-weight:500;
        font-size: 34px;
        padding-left: 5px;
    }
    #imgMayTinh{
        display: none;
    }
}

.row > div {
    height: 120px;
}

#Box{
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(192, 192, 192, 0) 100%);
    box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    width: 100%;
    height: 90%;
}
#box img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); 
}
#box p {
    position: absolute;
    top:58%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    
    color: #209090;

    width: 87%;
    
}
















.section2{
    position: relative;
    background:url(img_section/imgS2/Rectangle10_1.png) no-repeat;
    width: 100%;
    height: 471px;
    background-size:cover ;
    background-position: center;
    z-index: 1;
    
}
.bg_green{
    position: relative;
    width: 100%;
    height: 471px;
    
    background: rgba(32, 144, 144, 0.9);
    z-index: 2;
    
}
.tbSec2{
    position: absolute;
    width: 480px;
    
    left: 800px;
    top: 100px  ;
    z-index: 2;

}
.painter{
    position: absolute;

    left: 100px;
    top: -170px  ;
    z-index: 2;
}
.bg_painter{
    position: relative;
    margin-left: 202px;    
    margin-top: -540px;
    z-index: 2;

}


.s2c1{
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;

    color: #FFFFFF;
}
.s2c2{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    white-space: 18px;
    color: #FFFFFF;
}
.s2c3{
    font-size: 18px;
    line-height: 17px;
    
    color: #FFFFFF;
    
    
}

@media (max-width:992px){

    .tbSec2{
        position: absolute;
        width: 90%;
        left: 10%;
        top: 100px  ;
        z-index: 2;
    }
    .painter{
        display: none;
    }
    .bg_painter{
        display: none;
    }

    .s2c1{
        width: 80%;
    }
    .s2c2{
        width: 80%;
    }
    .s2c3{
        width: 80%;
    }
}














.section3{
    position: relative;
    background:url(img_section/imgS3/logo.png) no-repeat;
    height: 930px;

    background-position: center;
    width: 100%;
}
.s3c1{  
    padding-top: 120px;
    font-weight: 800;
    font-size: 40px;
    line-height: 37px;
    
    text-align: center;
    
    color: #209090;
}
.s3c2{
    padding-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    white-space: 2cm;
    color: #000000;
}
.imgS3{
    text-align: end;
    padding-right: 5%;

}
.s3c3{
    position: absolute;
    top: 25%;
    left: 0;

    width: 46%;
    
}

.s3option1_2 h1{
    position:relative;
    font-weight:900;
    font-size: 120px;

    color: #209090;
    opacity: 0.2;
    z-index: 1;
    padding-left:200px;
}

.s3option1_2 .d1{
    position:relative;
    
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    left: 41%;
    top: -62px;
    color: #209090;
    z-index: 2;
    width: 50%;


}
.s3hr1{
    background: #209090;position:absolute;top:19%;left: 65%;
}
.s3hr2{
    background: #209090;position:absolute;top:72%;left: 65%;
}
.D2{
    margin-top: -10%;
    
}
.d2{
    padding-left: 30%;

    
}
.d2 span{
    font-weight: 800;
    font-size: 15px;    
}

@media (max-width:992px){
    .section3{
        position: relative;
        background:url(img_section/imgS3/logo.png) no-repeat;
        height: 800px;
        background-position: center;
    }
    .s3c1{  
        font-weight: 900;
        font-size: 21px;
    }
    .s3c2{
        padding-top: 20px;
        width: 100%;
        
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
    }
    .imgS3{
        display: none;
    }
    .s3c3{
        position: absolute;
        top: 40%;
        left: 0;
    
        width:100%;
    }
    .s3hr1{
        display: none;
    }
    .s3hr2{
        display: none;
    }
    .s3option1_2 h1{
        position:relative;
        font-weight:900;
        font-size: 120px;
    
        color: #209090;
        opacity: 0.2;
        z-index: 1;
        padding-left:2px;
    }
    
    .s3option1_2 .d1{
        position:relative;
        
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 37px;
        left: 15px;
        top: -62px;
        color: #209090;
        z-index: 2;
    
    }
    .D2{
        margin-top: -50px;
    }
    .d2{
        padding-left: 0;
        width: 100%;
        padding-left: 5%;
    }
    .d2 span{
        font-weight: 800;
        font-size: 15px;    
    }
}









































.mamNon1{
    position:absolute;
    top: 2490px;
    left: 0px;

    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.mamNon2{
    position:absolute;
    
    left: 13%;
    top: 2380px;

    z-index: 2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.mamNon3{
    position:absolute;
    
    left: 37%;
    top: 2730px;

    z-index: 3;
    
}
.s4{
    padding-left: 55%;

    height: 100%;
    width: 100%;
}
.s4c1{

    font-weight: 800;
    font-size: 30px;
    line-height: 37px;

    color: #209090;
}
.s4c2{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;
    

    width: 80%;
}
#BoxS4{
    width: 80%;
}
#BoxS4_2{
    width: 80%;
}
#s4c3{

    width: 100%;
    height:45px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    
    color: #FFFFFF;
    background-color: #209090;
    padding-top:2%;
    border-radius: 20px;
}
#s4c4{

    width: 100%;
    height:45px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    padding-top:2%;
    
    color: #209090;

}
#s4c5{

    width: 100%;
    height:45px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    padding-top:2%;
    
    color: #209090;

}
#s4c6{

    width: 100%;
    height:45px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    padding-top:2%;
    
    color: #209090;

}

.tiem ul li p{

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

}
.tiem ul li{
    list-style-type: disc;
    color:#209090; 

}

@media (max-width:992px){
    .mamNon1{
        display: none;
    }
    .mamNon2{
        display: none;
    }
    .mamNon3{
        display: none;
    }
    .s4{
        padding-left: 0;
        margin-top: 120px;
        width: 100%;
        height: 100%;
    }
    .shops tr td{
        padding:0px;
    }
    .s4{
        margin-top: 200px;
    }
    .s4c1{
        font-weight: 800;
        font-size: 40px;
        line-height: 37px;
    
        color: #209090;
        text-align: center;
    }
    .s4c2{  
        width: 100%;
        text-align: center;
    }

    #s4c4{
        width: 100%;
        padding: 0;
        margin-right: 0;
        height:100%;
        line-height: 25px;
    }
    #s4c5{
        width: 100%;
        padding: 0;
        margin-right: 0;
        height:100%;
        line-height: 25px;
    }
    #s4c6{
        width: 100%;
        padding: 0;
        margin-right: 0;
        height:100%;
        line-height: 25px;
    }
    #s4c3{
        width: 100%;
        padding: 0;
        margin-right: 0;
        height:100%;
        line-height: 25px;
    }

    .tiem ul li{
        padding-left: 4%;
    }
    .tiem ul li p{
        font-size: 15px;
    }
    #BoxS4{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #BoxS4_2{
        width: 100%;
        align-items: center;
        text-align: center;
    }
}
























footer{
    width: 100%;
    height: 300px;
    background: #209090;
    
}
.f5{
    width: 100%;
    height: 300px;
    margin-top: 200px;
    
}
.f5d1{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.f5d2{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    
    color: #FFFFFF;
    
}
.f5c2{

    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    
    color: #FFFFFF;
    
}
.f5c1{
    padding-top: 10px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    
    color: #FFFFFF;
    
}
.zalo{
    display: flex;
    
    width: 30%;
}
.zalo_con{
    
    font-size: 15px;
    line-height: 18px;
    
    color: #FFFFFF;
}
.zalo_img{
    padding-right: 15px;
    
}

@media (max-width:992px){
    footer{
        height: 400px;
    }
    .f5d1{
        padding-top: 0;
        display: block;
    }
    .f5c1{
        text-align: center;
    }
    .f5c2{
        text-align: center;
    }
    .imgFooter{
        text-align: center;
    }
    .Zalo{
        width: 100%;
        margin: auto;
        padding:10px;
    }

    .f5d2{
        padding-top: 0;
    }
}


