*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
body{
    background-position:center;
    background-size: cover;
}


/* border-color: black;
border-style: solid; */


.header{
    position:relative;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;

    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.back{
    position:absolute;
    width: 116px;
    height: 18px;
    left: 136px;
    top: 18px;
    
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #209090;

}

.logo{
    position:relative;
    width: 0px;
    height: 0px;
    left: 99%;
    top: 15px;
    transform: rotate(104deg);
    }
    
















.section1{
    position: relative;
    background:url(img_section/imgS1/bg2.png) no-repeat;
    height: 946px;
    background-size:cover ;
    background-position: center;
}

.c1{
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    color: #209090;

    padding-left: 25%;
}
.c2{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    text-align: justify;
    color: #000000;
    padding-left: 25%;
}


@media (max-width:992px){
    .c2{
        font-size:0px;
    }
    .c1{
        margin-top: 80px;
        font-weight:500;
        font-size: 34px;
        padding-left: 5px;
    }
    #imgMayTinh{
        display: none;
    }
}

.option{
    position:absolute;
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    top: 670px;
    padding-left: 6%;


}
.option ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.option ul li{
    display: flex;
    list-style: none;
    margin-left: 25px;
    background:url(img_section/imgS1/Rectangle4.png) no-repeat;
    width:190px;
    height: 110px;

}

.option ul li p{
    width: 140px;
    line-height: 17px;
    text-align: center;
    padding-left:20px ;
    padding-top: 40px;
    color: #209090;
}
.option ul li img{
    position: absolute;
    margin-left: 50px;
    margin-top: -40px;
    height:2cm;
}

@media (max-width:992px){
    .section1{
        position: relative;
        background:url(img_section/imgS1/bg2.png) no-repeat;
        height: 406px;
        background-size:cover ;
        background-position: center;
    }
    .option{
        max-width:992px;
        margin-right: 3%;
        top: 240px;
        padding-left: 0;
    }
    .option ul li img{
        position: absolute;
        margin-left: 0;
        margin-top: 0;
        height:1cm;
        padding-left: 40px;
    }
    .option ul li{
        display: flex;
        list-style: none;
        margin-left: 0;
        background:url(img_section/imgS1/Rectangle4.png) no-repeat;
        width:110px;
        height: 80px;
    
    }
    .option ul li p{
        width: 100px;
        font-size: 9px;
        line-height: 7px;
        text-align: center;
        padding-left:20px ;
        padding-top: 40px;
        color: #209090;
    }
}




















.section2{
    position: relative;
    background:url(img_section/imgS2/Rectangle10_1.png) no-repeat;
    width: 100%;
    height: 471px;
    background-size:cover ;
    background-position: center;
    z-index: 1;
}
.bg_green{
    position: relative;
    width: 100%;
    height: 471px;
    
    background: rgba(32, 144, 144, 0.9);
    z-index: 2;
}
.tbSec2{
    position: absolute;
    width: 480px;
    
    left: 800px;
    top: 100px  ;
    z-index: 2;

}
.painter{
    position: absolute;

    left: 100px;
    top: -170px  ;
    z-index: 2;
}
.bg_painter{
    position: relative;
    margin-left: 202px;    
    margin-top: -540px;
    z-index: 2;

}


.s2c1{
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;

    color: #FFFFFF;
}
.s2c2{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    white-space: 18px;
    color: #FFFFFF;
    width: 350px;
}
.s2c3{
    font-size: 18px;
    line-height: 17px;
    
    color: #FFFFFF;
    
}

@media (max-width:992px){
    .tbSec2{
        position: absolute;
        width: 80px;
        
        left: 80px;
        top: 100px  ;
        z-index: 2;
    
    }
    .painter{
        display: none;
    }
    .bg_painter{
        display: none;
    }
    .tbSec2{
        position: absolute;

        left: 20px;
        top: 100px  ;
        z-index: 2;
    
    }
    .s2c1{
        font-weight: 800;
        font-size: 30px;
        line-height: 37px;
    
        color: #FFFFFF;

        width: 300px;
    }

}














.section3{
    position: relative;
    background:url(img_section/imgS3/logo.png) no-repeat;
    height: 930px;

    background-position: center;
}
.s3c1{  
    padding-top: 120px;
    font-weight: 800;
    font-size: 40px;
    line-height: 37px;
    
    text-align: center;
    
    color: #209090;
}
.s3c2{
    padding-top: 20px;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    white-space: 2cm;
    color: #000000;
}
.imgS3{
    text-align: end;
    padding-right: 5%;
}
.s3c3{
    position: absolute;
    top: 25%;
    left: 0;

    width: 46%;
}

.s3option1_2 h1{
    position:relative;
    font-weight:900;
    font-size: 120px;

    color: #209090;
    opacity: 0.2;
    z-index: 1;
    padding-left:200px;
}

.s3option1_2 .d1{
    position:relative;
    
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    left: 290px;
    top: -62px;
    color: #209090;
    z-index: 2;

}
.s3hr1{
    background: #209090;position:absolute;top:130px;left: 450px;
}
.s3hr2{
    background: #209090;position:absolute;top:366px;left: 450px;
}
.D2{
    margin-top: -50px;
}
.d2{
    padding-left: 200px;
}
.d2 span{
    font-weight: 800;
    font-size: 15px;    
}

@media (max-width:992px){
    .section3{
        position: relative;
        background:url(img_section/imgS3/logo.png) no-repeat;
        height: 630px;
        background-position: center;
    }
    .s3c1{  
        font-weight: 900;
        font-size: 21px;
    }
    .s3c2{
        padding-top: 20px;
        width: 300px;
        
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
    }
    .imgS3{
        display: none;
    }
    .s3c3{
        position: absolute;
        top: 40%;
        left: 10px;
    
        width:300px;
    }
    .s3hr1{
        left: 150px;
    }
    .s3hr2{
        left: 150px;
    }
    .s3option1_2 h1{
        position:relative;
        font-weight:900;
        font-size: 120px;
    
        color: #209090;
        opacity: 0.2;
        z-index: 1;
        padding-left:2px;
    }
    
    .s3option1_2 .d1{
        position:relative;
        
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 37px;
        left: 15px;
        top: -62px;
        color: #209090;
        z-index: 2;
    
    }
    .D2{
        margin-top: -50px;
    }
    .d2{
        padding-left: 10px;
        width: 370px;
    }
    .d2 span{
        font-weight: 800;
        font-size: 15px;    
    }
}









































.mamNon1{
    position:absolute;
    top: 2490px;
    left: 0px;

    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.mamNon2{
    position:absolute;
    
    left: 200px;
    top: 2380px;

    z-index: 2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.mamNon3{
    position:absolute;
    
    left: 570px;
    top: 2730px;

    z-index: 3;
    
}
.s4{
    padding-left: 790px;
    margin-top: -50px;
}
.s4c1{

    font-weight: 800;
    font-size: 30px;
    line-height: 37px;

    color: #209090;
}
.s4c2{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;
    

    width: 550px;
}
.s4c3456{
    display: flex;
    width: 600px;

}
.s4c3{

    width: 180px;
    height:45px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    
    color: #FFFFFF;
    background-color: #209090;
    padding: 10px;
    border-radius: 20px;
}
.s4c456{

    padding: 10px;

    width: 140px;

    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    
    color: #209090;
}

.tiem ul li p{

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.tiem ul li{
    list-style-type: disc;
    color:#209090; 
}

.shops tr td{
    padding:20px;
}
@media (max-width:992px){
    .mamNon1{
        display: none;
    }
    .mamNon2{
        display: none;
    }
    .mamNon3{
        display: none;
    }
    .s4{
        padding-left: 0;
        margin-top: 120px;
        width: 380px;
        height: 600px;
    }
    .shops tr td{
        padding:0px;
    }
    .s4{margin-top: 200px;}
    .s4c1{
        font-weight: 800;
        font-size: 40px;
        line-height: 37px;
    
        color: #209090;
        text-align: center;
    }
    .s4c2{  
        width: 380px;
        text-align: center;
    }
    .s4c3456{
        display: flex;
        width: 370px;
        align-items:center;
        margin-left: auto;
        margin-right: auto;
    }
    .s4c456{
        padding: 0;
    }
    .s4c3{
        width: 120px;
        padding: 0;
        margin-right: 0;
        height:30px;
        line-height: 25px;
    }

    .tiem ul li{
        padding-left: 15px;
    }
    .tiem ul li p{
        font-size: 15px;
    }
    
    .shops tr td{
        padding:2px;
    }
}
























footer{
    width: 100%;
    height: 300px;
    background: #209090;
}
.f5{
    width: 100%;
    height: 300px;
    margin-top: 200px;
}
.f5d1{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f5d2{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    
    color: #FFFFFF;
    
}
.f5c2{

    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    
    color: #FFFFFF;
}
.f5c1{
    padding-top: 10px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    
    color: #FFFFFF;
}
.zalo{
    display: flex;
}
.zalo_con{

    font-size: 15px;
    line-height: 18px;
    
    color: #FFFFFF;
}
.zalo_img{
    padding-right: 20px;
}

@media (max-width:992px){
    footer{
        width: 100%;
    }
    .f5d1{
        padding-top: 0;
        display: block;
        
    }
    .f5c1{
        text-align: center;
    }
    .f5c2{
        text-align: center;
    }
    .imgFooter{
        text-align: center;
    }
    .Zalo{

        width: 300px;
        margin: auto;
        padding:10px;
    }





    .f5d2{
        padding-top: 0;
    }
}


